@font-face {
  font-family: "HelveticaNowMicro-Bold";
  src: url('../style/fonts/helvetica-now-bold.woff2') format('woff');
}

@font-face {
  font-family: "HelveticaNowMicro-Light";
  src: url('../style/fonts/helvetica-now-light.woff2') format('woff');
}

@font-face {
  font-family: "HelveticaNowMicro-Regular";
  src: url('../style/fonts/helvetica-now-regular.woff2') format('woff');
}

@font-face {
  font-family: "NeueMachina-Medium";
  src: url('../style/fonts/NeueMachina-Medium.woff2') format('woff');
}
