@import "./../../assets/style/fonts.scss";

.container {
  background-color: white;
  width: 940px;
  height: auto;
  min-height: 436px;
  margin: auto;
  display: flex;
  border-radius: 16px;
  margin-top: 45px;
  margin-bottom: 86px;
  .leftPart {
    width: 70%;
    padding-left: 27px;
    padding-top: 22px;
    padding-bottom: 51px;
    .header {
      height: 84px;
      margin-bottom: 24px;
      display:flex;
      .col-3 {
        overflow: hidden;
        object-position: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .col-9{
        padding-left: 40px;
        align-self: center;
        .title{
          font-size: 18px;
          font-family: "HelveticaNowMicro-Bold";
        }
        .company{
          font-size: 16px;
        }
      }
    }
    .text {
      font-family: "HelveticaNowMicro-Regular";
      font-size: 14px;
      line-height: 20px;
    }
  }
  .rightPart {
    width: 25%;
    padding-left: 58px;
    padding-top: 36px;


    .btn{
      width: 150px;
      height: 40px;
      border-radius: 9px;
      background-color: #4052FF;
      color: white;
      margin-bottom: 54px;
      i{
        margin-right:12px;
      }
    }
    .info{
      text-align: start;
      .location{
        font-size: 10px;
        color: RGBA(31, 19, 72, 0.5);
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .iLocation{
        font-size: 14px;
        color:RGB(31, 19, 72);
        margin-bottom: 10px;
      }
      .format{
        font-size: 10px;
        color: RGBA(31, 19, 72, 0.5);
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .tag{
        width: fit-content;
        height: 34px;
        background-color: RGBA(64, 82, 255, 0.11);
        padding-right: 16px;
        padding-top: 7px;
        padding-left: 16px;
        padding-bottom: 7px;
        white-space: nowrap;
        border: none;
        border-radius: 9px;
        color: RGB(41, 59, 233);
        font-size: 13px;
        margin-bottom: 13px;
        margin-left: 0;
      }
      .fecha{
        font-size: 10px;
        color: RGBA(31, 19, 72, 0.5);
        text-transform: uppercase;
        margin-bottom: 2px;
      }
    }

  }
}
